.negro{
    background-color: black;
}

.blanco{
    background-color: white;
}

.block{
    display: block;
}

.no-margin{
    margin: 0;
}

.no-margin-lados{
    margin-left: 0;
    margin-right: 0;
}


.no-padding{
    padding: 0;
}
